<!--https://www.youtube.com/watch?v=_E_kkojQVyY-->
<div class="col-md-6">
  <h2>Listado de notas</h2>
  <ul class="list-group">
    <li class="list-group-item" *ngFor='let my_note of my_notes'> {{my_note.title}} </li>
  </ul>
  <a class="btn btn-primary btn-block" (click)="addNote()">Nueva Nota</a>
</div>

<div class="col-md-6" *ngIf="showform">
  <h2>Nueva nota</h2>  
  <input class="form-control" type="text" placeholder="titulo de la nota" [(ngModel)]="node.title" />
  <br/>
  <textarea class="form-control" placeholder="cuerpo de la note" [(ngModel)]="note.body"></textarea>
  <hr>
  <div class="row">
    <div class="col-md-6">
        <a class="btn btn-default btn-block" (click)="cancel()">Calcelar</a>
    </div>
    <div class="col-md-6">
        <a class="btn btn-primary btn-block" (click)="createNote()">Guardar Nota</a>
    </div>
  </div>
</div>